<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레코드 상세 목록</title>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
    <div id="page">
        <p>userId : {{ records.userId }}</p>
        <p>recordId : {{ records.recordId }}</p>
        <p>stackedDistance : {{ records.stackedDistance }}</p>
        <form action="/records/{{ records.recordId }}?_method=DELETE" method="post"></form>
        <button type="submit">기록삭제</button>
        </form>
    </div>
    <a href="/">Home</a>
</body>
</html>