<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>기록 모든 목록</title>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
    <form action="/records" method="get">
    {{#each record}}
        <div id="page2" onclick="window.location.href = '/records/{{this.recordId}}/records_h/recordlist';">
            <p>userId : {{this.userId}}</p>
            <p>stackedDistance : {{this.stackedDistance}}</p>
        </div>
    {{/each}}
    </form>
        <a href="/">Home</a>
</body>
</html>