 #center{
    text-align: center;  
  }

  button{
      background-color: whitesmoke;
      border: 0.1px solid lightgrey;
      transition-duration: 0.3s;
      color: black;
      padding: 4px;
      border-radius: 5px;
  }

  button:hover{
      background-color: lightgrey;
  }

  button:active{
      background-color: grey;
  }

  #box1{
      box-shadow: 0px 0px 3px 0px lightgrey;
      border-radius: 5px;
      text-align: center;
      padding: 5px;
  }

  #box1:hover{
      background-color: lightgrey;
      border-radius: 5px;
  }

  #box1:active{
      background-color: grey;
      border-radius: 5px;
  }

  #div1{
      box-shadow: 0px 0px 3px 0px black;
      border-radius: 5px;
      width: 1200px;
      text-align: center;
      margin: 5px auto 5px auto;
      border: 0.1px solid lightgrey;
      display: block;
  }

  #search_button{
      padding-bottom: 5px;
  }

  #remove_button{
      padding: 5px;
  }

  #more_info{
      padding: 5px;
  }

  #stopover{
      box-shadow: 0px 0px 3px 0px lightgrey;
      width: 1200px;
      text-align: center;
      margin: 5px auto 5px auto;
      border-radius: 5px;
      display: block;
  }

  #content{
      padding: 5px;
      box-shadow: 0px 0px 3px 0px lightgrey;
      text-align: center;
      border-radius: 5px;
      display: block;
  }

  #explanation{
      background-color: white;
      box-shadow: 0px 0px 3px 0px black;
      border-radius: 5px;
      width: 150px;
      text-align: center;
      display: inline-block;
  }

  ._search_item{
      padding: 5px;
      box-shadow: 0px 0px 3px 0px lightgrey;
      text-align: center;
      border-radius: 5px;
      display: block;
  }

  #footer{
      width: 500px;
      margin: 5px auto 10px auto;
      box-shadow: 0px 0px 3px 0px lightgrey;
      border-radius: 5px;
  }

  #footer_button{
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  #map{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .__disable_text{
    margin-left: 10px;
  }