<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이메일 토큰 전송</title>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
    <div id="page">
        <form action="/auth/invite" method="post">
        <input type="email" name="email" placeholder="이메일을 작성해주세요.">
        <button type="submit">이메일 전송하기</button>
        </form>
    </div>
    <a href="/">Home</a>
</body>
</html>