<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" />
    <meta http-equiv="X-UA-Compatible"  />
    <meta content="width=device-width, IE=edge, chrome=1, initial-scale=1.0,maximum-scale=1.0, user-scalable=0, shrink-to-fit=no"/>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/assets/img/apple-icon.png" rel="apple-touch-icon" sizes="76x76" />
    <link href="/assets/img/favicon.png" rel="icon" type="image/png" /> 
    <link href="/assets/css/default.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/light-bootstrap-dashboard.css?v=2.0.1" rel="stylesheet" />
    <link href="/assets/css/demo.css" rel="stylesheet" />
    <title>로그인</title>
</head>
<body>
    <div class="wrapper wrapper-full-page">
        <!-- Start Navbar -->
        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
            <div class="container">
            <div class="navbar-wrapper">
                <a class="navbar-brand" href="/Dashboard">2mergency</a>
                <button
                class="navbar-toggler navbar-toggler-right"
                type="button"
                data-toggle="collapse"
                aria-controls="navigation-index"
                aria-expanded="false"
                aria-label="Toggle navigation"
                >
                <span class="navbar-toggler-bar burger-lines"></span>
                <span class="navbar-toggler-bar burger-lines"></span>
                <span class="navbar-toggler-bar burger-lines"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse justify-content-end" id="navbar">
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/Dashboard" class="nav-link">
                    <i class="nc-icon nc-chart-pie-35"></i> 
                    메인페이지</a>
                </li>
                <li class="nav-item active">
                    <a href="/auth/users_h/register" class="nav-link">
                    <i class="nc-icon nc-mobile"></i>
                    회원가입</a>
                </li>
                </ul>
            </div>
            </div>
        </nav>
        <!-- End Navbar -->
        <div class="full-page section-image" data-color="black" data-image="/assets/img/full-screen-image-2.jpg">
            <div class="content">
                <div class="container">
                    <div class="col-md-4 col-sm-6 ml-auto mr-auto">
                        <form class="form" action="/auth/login" method="POST">
                            <div class="card card-login card-hidden">
                                <div class="card-header">
                                    <h3 class="header text-center">Login</h3>
                                </div>
                                <div class="card-body">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label>Email address</label>
                                            <input
                                                type="email"
                                                name="email"
                                                placeholder="Enter email"
                                                class="form-control"/>
                                        </div>
                                        <div class="form-group">
                                            <label>Password</label>
                                            <input
                                                type="password"
                                                name="password"
                                                placeholder="Password"
                                                class="form-control"/>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input
                                                        class="form-check-input"
                                                        type="checkbox"
                                                        value=""
                                                        checked/>
                                                    <span class="form-check-sign"></span>
                                                    자동로그인
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer ml-auto mr-auto">
                                    <button type="submit" class="btn btn-warning btn-wd">Login</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start footer -->
        <footer class="footer">
            <div class="container">
            <nav>
                <p class="copyright text-center">
                ©
                <script>
                    document.write(new Date().getFullYear());
                </script>
                <a href="/Dashboard">2Mergency</a>, 건강한 라이프스타일과
                함께합니다.
                </p>
            </nav>
            </div>
        </footer>
        <!-- End footer -->
    </div>
</body>
<script src="/assets/js/core/jquery.3.2.1.min.js" type="text/javascript"></script>
<script src="/assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="/assets/js/core/bootstrap.min.js" type="text/javascript"></script>
<script src="/assets/js/plugins/bootstrap-switch.js"></script>
<script src="/assets/js/plugins/chartist.min.js"></script>
<script src="/assets/js/plugins/bootstrap-notify.js"></script>
<script src="/assets/js/plugins/jquery-jvectormap.js" type="text/javascript"></script>
<script src="/assets/js/plugins/moment.min.js"></script>
<script src="/assets/js/plugins/bootstrap-datetimepicker.js"></script>
<script src="/assets/js/plugins/sweetalert2.min.js" type="text/javascript"></script>
<script src="/assets/js/plugins/bootstrap-tagsinput.js" type="text/javascript" ></script>
<script src="/assets/js/plugins/nouislider.js" type="text/javascript"></script>
<script src="/assets/js/plugins/bootstrap-selectpicker.js" type="text/javascript"></script>
<script src="/assets/js/plugins/jquery.validate.min.js" type="text/javascript"></script>
<script src="/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
<script src="/assets/js/plugins/bootstrap-table.js"></script>
<script src="/assets/js/plugins/jquery.dataTables.min.js"></script>
<script src="/assets/js/plugins/fullcalendar.min.js"></script>
<script src="/assets/js/light-bootstrap-dashboard.js?v=2.0.1" type="text/javascript"></script>
<script src="/assets/js/demo.js"></script>
<script>
    $(document).ready(function () {
        demo.checkFullPageBackgroundImage();
        setTimeout(function () {
        $('.card').removeClass('card-hidden');
        }, 700);
    });
</script>
</html>