<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
    <div id="page">
        <form action="/auth/login" method="POST">
        <input type="text" name="email" placeholder="이메일">
        <input type="text" name="password" placeholder="비밀번호">
        <button type="submit">로그인</button>
        </form>
    </div>
    <a href="/">Home</a>
</body>
</html>