<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>유저 삭제</title>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
    <form method="POST" action="/users?_method=DELETE">
        <div id="page">
            <input type="password" name="password" placeholder="비밀번호 입력">
            <button type="submit">비밀번호 확인</button>
        </div>
    </form>
    <script>
    </script>
</body>
</html>
