<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그룹 모든 목록</title>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
    {{#each groups}}
    <div id="page2" onclick="window.location.href = '/groups/{{ this.groupId }}/groups_h/grouplist';">       
        <p>title : {{this.title}}</p>
        <p>category : {{this.category}}</p>
    </div>
    {{/each}}
    <a href="/">Home</a>
</body>
</html>