<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>그룹 만들기</title>
<link rel="stylesheet" href="/css/default.css">
</head>
<body>
    <div id="page">
    <form action="/groups" method="POST">
        <input type="text" name="title" placeholder="그룹 이름 기재">
        <input type="text" name="content" placeholder="그룹 내용">
        <input type="text" name="category" placeholder="그룹 카테고리" value="walk">
        <button type="submit">그룹 만들기</button>
    </form>
    </div>
    <a href="/">Home</a>
</body>
</html>