<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>스케줄 모든 목록</title>
    <link rel="stylesheet" href="/css/default.css">
</head>
<body>
    <form action="/schedules">
    <div id="page">
        {{#each record}}
        <div id="page">
            <p>userId : {{this.userId}}</p>
            <p>recordId : {{this.recordId}}</p>
            <p>stackedDistance : {{this.stackedDistance}}</p>
        </div>
        {{/each}}
    </div>
    </form>
</body>
</html>